<div class="map-box">
  <div class="search">
    <%= form_tag :bracks,  method: :get do %>
        <%= text_field_tag :q, "Find nearest bike rack...", class: 'form-control' %>
    <% end %>
  </div>
  <hr>
  <div id="map"></div>
  <!-- <div tabindex="0" class="racks-index racks-hide">
    <h3>Show nearest racks ^</h3>
  </div> -->
  <div class="racks-index racks-show">
    <div tabindex="0" class="nearest-rack-header">
      <h3>Nearest racks v</h3>
    </div>
    <div class="nearest-racks">
      <div tabindex="0" class="rack">
        <%= image_tag("b-icon.png", alt: "bike icon", width:40 ) %>
        0.2 miles away
      </div>
      <div tabindex="0" class="rack">
        <%= image_tag("b-icon.png", alt: "bike icon", width:40 ) %>
        0.2 miles away
      </div>
    </div>
  </div>
</div>

<script async defer
  src=<%="https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAP_KEY']}"%>>
</script>
